#add-menu {
	width: 40%;
	padding: 8px;
	background-color: rgb(122, 169, 228);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	border-radius: 5%;
	border: 1px solid black;

	.line {
		width: 80%;
		margin: auto;
		margin-top: 16px;
	}

	.line.first {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.submit-btn {
		margin: auto;
		margin-top: 16px;
	}
}

.task-grid {
	display: flex;
	flex-wrap: wrap; //C’est ça qui gère automatiquement le retour à la ligne
	gap: 20px;
	justify-content: flex-start; // Alignement
	align-items: flex-start; // Alignement vertical
	padding: 1rem;
}
