form {
	width: 40%;
	padding: 8px;
	background-color: rgb(122, 169, 228);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	border-radius: 5%;
	border: 1px solid black;

	.line {
		width: 80%;
		margin: auto;
		margin-top: 16px;
	}

	.line.first {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.submit-btn {
		margin: auto;
		margin-top: 16px;
	}
}

.task-grid {
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(5, 90px);
	gap: 20px;
	align-items: start;
}
