#add-menu {
	width: 40%;
	padding: 8px;
	background-color: rgb(122, 169, 228);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
	border-radius: 5%;
	border: 1px solid black;

	.line {
		width: 80%;
		margin: auto;
		margin-top: 16px;
	}

	.line.first {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.submit-btn {
		margin: auto;
		margin-top: 16px;
	}
}

.task-grid {
	display: flex;
	flex-wrap: wrap; //C’est ça qui gère automatiquement le retour à la ligne
	gap: 20px;
	justify-content: flex-start; // Alignement
	align-items: flex-start; // Alignement vertical
	padding: 1rem;
}

.sidebar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 250px;
	height: 100vh; // Full height viewport
	position: fixed; // Sticks to the side
	top: 0;
	left: 0;
	background-color: #abd7f3;
	overflow-y: auto; // Scroll inside if needed
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	z-index: 1000;

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		display: block;
	}

	a {
		display: block;
		color: #000;
		padding: 16px;
		text-decoration: none;
		border-bottom: 1px solid #ddd;

		&:hover {
			background-color: #ddd;
		}
	}

	button {
		background-color: aqua;
		border-radius: 20%;
		&:hover {
			background-color: #70c0dc;
		}
	}
}

/* Position and style the close button (top right corner) */
.closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #126487;
	color: black;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #2f7489;
}
